ws-signer-1.1.4/gen/mss_serviceAp_activator.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://esec.com.br" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AdditionalServiceActivatorService" targetNamespace="http://esec.com.br">
  <wsdl:types>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://esec.com.br">
  <xs:complexType name="ActivateReqType">
    <xs:sequence>
      <xs:element name="MobileUser" type="tns:MobileUserType"/>
      <xs:element name="AdditionalService" type="tns:AdditionalServiceType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MobileUserType">
    <xs:sequence/>
    <xs:attribute name="UniqueIdentifier" type="xs:string" use="required"/>
  </xs:complexType>
  <xs:complexType name="StatusType">
    <xs:sequence>
      <xs:element name="StatusCode" type="xs:int"/>
      <xs:element minOccurs="0" name="StatusMessage" type="xs:string"/>
      <xs:element minOccurs="0" name="StatusDetail" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="AdditionalServiceType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="dummy"/>
      <xs:enumeration value="offlineSignature"/>
      <xs:enumeration value="aetDriver"/>
      <xs:enumeration value="kaspersky"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="FaultDetail" nillable="true" type="tns:StatusType"/>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="Activate">
    <wsdl:part name="ActivateReq" type="tns:ActivateReqType">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ActivateResponse">
  </wsdl:message>
  <wsdl:message name="ICPMException">
    <wsdl:part element="tns:FaultDetail" name="ICPMException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="AdditionalServiceActivatorPortType">
    <wsdl:operation name="Activate">
      <wsdl:input message="tns:Activate" name="Activate">
    </wsdl:input>
      <wsdl:output message="tns:ActivateResponse" name="ActivateResponse">
    </wsdl:output>
      <wsdl:fault message="tns:ICPMException" name="ICPMException">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AdditionalServiceActivatorServiceSoapBinding" type="tns:AdditionalServiceActivatorPortType">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="Activate">
      <soap:operation soapAction="" style="rpc"/>
      <wsdl:input name="Activate">
        <soap:body namespace="http://esec.com.br" use="literal"/>
      </wsdl:input>
      <wsdl:output name="ActivateResponse">
        <soap:body namespace="http://esec.com.br" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ICPMException">
        <soap:fault name="ICPMException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AdditionalServiceActivatorService">
    <wsdl:port binding="tns:AdditionalServiceActivatorServiceSoapBinding" name="AdditionalServiceActivatorPortType">
      <soap:address location="http://localhost:8280/mss/serviceAp/activator"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>