ws-signer-1.1.4/gen/mss_SignatureService_SignatureEndpointBeanV2.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://esec.com.br/mss/ap" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SignatureService" targetNamespace="http://esec.com.br/mss/ap">
  <wsdl:types>
    <xs:schema xmlns:xmime="http://www.w3.org/2005/05/xmlmime" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://esec.com.br/mss/ap">
  <xs:import namespace="http://www.w3.org/2005/05/xmlmime"/>
  <xs:element name="AlgorithmFilterType" type="tns:AlgorithmFilterType"/>
  <xs:element name="ForceHardwareFilterType" type="tns:ForceHardwareFilterType"/>
  <xs:element name="HsmCertificateFilterType" type="tns:HsmCertificateFilterType"/>
  <xs:element name="LegalIdentifierFilterType" type="tns:LegalIdentifierFilterType"/>
  <xs:element name="OwnerFilterType" type="tns:OwnerFilterType"/>
  <xs:element name="TrustChainFilterType" type="tns:TrustChainFilterType"/>
  <xs:element name="certificateFiltersType" type="tns:CertificateFiltersType"/>
  <xs:complexType name="ExecuteTokenCmdReqType">
    <xs:sequence>
      <xs:element name="User" type="tns:UserType"/>
      <xs:element name="Command" type="xs:string"/>
    </xs:sequence>
    <xs:attribute name="ApId" type="xs:long" use="required"/>
  </xs:complexType>
  <xs:complexType name="UserType">
    <xs:sequence/>
    <xs:attribute name="Identifier" type="xs:string" use="required"/>
  </xs:complexType>
  <xs:complexType name="ExecuteTokenCmdRespType">
    <xs:sequence>
      <xs:element name="Status" type="tns:TokenCmdStatus"/>
      <xs:element name="Value" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="StatusType">
    <xs:sequence>
      <xs:element name="StatusCode" type="xs:int"/>
      <xs:element minOccurs="0" name="StatusMessage" type="xs:string"/>
      <xs:element minOccurs="0" name="StatusDetail" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FindUserInfoReqType">
    <xs:sequence>
      <xs:element name="User" type="tns:UserType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FindUserInfoRespType">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="Devices" type="tns:MobileUserInfoTypeV2"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="Users" type="tns:PersonInfoTypeV2"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MobileUserInfoTypeV2">
    <xs:sequence>
      <xs:element name="Status" type="tns:StatusTypeV2"/>
      <xs:element minOccurs="0" name="Email" type="xs:string"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="Certificates" type="tns:CertificateResumedInfoType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="StatusTypeV2">
    <xs:sequence>
      <xs:element name="StatusCode" type="xs:int"/>
      <xs:element minOccurs="0" name="StatusMessage" type="xs:string"/>
      <xs:element minOccurs="0" name="StatusDetail" type="xs:string"/>
      <xs:element minOccurs="0" name="MobileStatus" type="tns:mobileStatus"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CertificateResumedInfoType">
    <xs:sequence>
      <xs:element name="SerialNumber" type="xs:string"/>
      <xs:element name="Issuer" type="xs:string"/>
      <xs:element name="HardwareType" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PersonInfoTypeV2">
    <xs:sequence>
      <xs:element name="Status" type="tns:StatusTypeV2"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="Devices" type="tns:MobileUserInfoTypeV2"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="HsmSyncSignatureReqType">
    <xs:sequence>
      <xs:element name="User" type="tns:UserType"/>
      <xs:element name="Fingerprint" type="xs:string"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="DocumentsToBeSigned" type="tns:BatchInfoType"/>
      <xs:element minOccurs="0" name="DataToBeSigned" type="xs:string"/>
      <xs:element minOccurs="0" name="CertificateFilters" type="tns:CertificateFiltersType"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="AdditionalServices" type="tns:AdditionalServiceType"/>
    </xs:sequence>
    <xs:attribute name="ApId" type="xs:long"/>
    <xs:attribute name="SignatureStandard" type="tns:SignatureStandardType"/>
    <xs:attribute name="SignaturePolicy" type="tns:SignaturePolicyType"/>
    <xs:attribute name="TestMode" type="xs:boolean"/>
  </xs:complexType>
  <xs:complexType name="BatchInfoType">
    <xs:complexContent>
      <xs:extension base="tns:HashDocumentInfoType">
        <xs:sequence>
          <xs:element minOccurs="0" name="SignatureStandardOptions" type="tns:SignatureStandardOptionsType"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="HashDocumentInfoType">
    <xs:sequence/>
    <xs:attribute name="ContentType" type="xs:string" use="required"/>
    <xs:attribute name="DocumentName" type="xs:string" use="required"/>
    <xs:attribute name="Hash" type="xs:string" use="required"/>
    <xs:attribute name="UrlToDocument" type="xs:string"/>
  </xs:complexType>
  <xs:complexType name="SignatureStandardOptionsType">
    <xs:sequence>
      <xs:choice maxOccurs="unbounded" minOccurs="0">
        <xs:element name="ElementsId" type="tns:ElementsIdXmldsigOptionType"/>
        <xs:element name="AttributeIdName" type="tns:AttributeIdNameXmldsigOptionType"/>
        <xs:element name="ElementsName" type="tns:ElementsNameXmldsigOptionType"/>
        <xs:element name="AddSubjectName" type="tns:AddSubjectNameXmldsigOptionType"/>
        <xs:element name="AddKeyVal" type="tns:AddKeyValXmldsigOptionType"/>
        <xs:element name="MultipleSignatures" type="tns:MultipleSignaturesXmldsigOptionType"/>
        <xs:element name="DigestMethod" type="tns:DigestMethodXmldsigOptionType"/>
        <xs:element name="RemoveSignatureId" type="tns:RemoveSignatureIdXmldsigOptionType"/>
        <xs:element name="TextOfPadesSignature" type="tns:SignatureTextPadesOptionType"/>
        <xs:element name="PageOfPadesSignature" type="tns:SignaturePagePadesOptionType"/>
        <xs:element name="PosXOfPadesSignature" type="tns:SignaturePosXPadesOptionType"/>
        <xs:element name="PosYOfPadesSignature" type="tns:SignaturePosYPadesOptionType"/>
        <xs:element name="HeightOfPadesSignature" type="tns:HeightPadesOptionType"/>
        <xs:element name="WidthOfPadesSignature" type="tns:WidthPadesOptionType"/>
        <xs:element name="FontSizeOfPadesSignature" type="tns:FontSizePadesOptionType"/>
        <xs:element name="ZoomOfPadesSignature" type="tns:SignatureZoomPadesOptionType"/>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ElementsIdXmldsigOptionType">
    <xs:sequence/>
    <xs:attribute name="value" use="required">
      <xs:simpleType>
        <xs:list itemType="xs:string"/>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="AttributeIdNameXmldsigOptionType">
    <xs:sequence/>
    <xs:attribute name="value" type="xs:string" use="required"/>
  </xs:complexType>
  <xs:complexType name="ElementsNameXmldsigOptionType">
    <xs:sequence/>
    <xs:attribute name="value" use="required">
      <xs:simpleType>
        <xs:list itemType="xs:string"/>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="AddSubjectNameXmldsigOptionType">
    <xs:sequence/>
    <xs:attribute name="value" type="xs:boolean" use="required"/>
  </xs:complexType>
  <xs:complexType name="AddKeyValXmldsigOptionType">
    <xs:sequence/>
    <xs:attribute name="value" type="xs:boolean" use="required"/>
  </xs:complexType>
  <xs:complexType name="MultipleSignaturesXmldsigOptionType">
    <xs:sequence/>
    <xs:attribute name="value" type="xs:boolean" use="required"/>
  </xs:complexType>
  <xs:complexType name="DigestMethodXmldsigOptionType">
    <xs:sequence/>
    <xs:attribute name="value" type="tns:DigestMethod" use="required"/>
  </xs:complexType>
  <xs:complexType name="RemoveSignatureIdXmldsigOptionType">
    <xs:sequence/>
    <xs:attribute name="value" type="xs:boolean" use="required"/>
  </xs:complexType>
  <xs:complexType name="SignatureTextPadesOptionType">
    <xs:sequence/>
    <xs:attribute name="value" type="xs:string" use="required"/>
  </xs:complexType>
  <xs:complexType name="SignaturePagePadesOptionType">
    <xs:sequence/>
    <xs:attribute name="value" type="xs:int" use="required"/>
  </xs:complexType>
  <xs:complexType name="SignaturePosXPadesOptionType">
    <xs:sequence/>
    <xs:attribute name="value" type="xs:int" use="required"/>
  </xs:complexType>
  <xs:complexType name="SignaturePosYPadesOptionType">
    <xs:sequence/>
    <xs:attribute name="value" type="xs:int" use="required"/>
  </xs:complexType>
  <xs:complexType name="HeightPadesOptionType">
    <xs:sequence/>
    <xs:attribute name="value" type="xs:int" use="required"/>
  </xs:complexType>
  <xs:complexType name="WidthPadesOptionType">
    <xs:sequence/>
    <xs:attribute name="value" type="xs:int" use="required"/>
  </xs:complexType>
  <xs:complexType name="FontSizePadesOptionType">
    <xs:sequence/>
    <xs:attribute name="value" type="xs:int" use="required"/>
  </xs:complexType>
  <xs:complexType name="SignatureZoomPadesOptionType">
    <xs:sequence/>
    <xs:attribute name="value" type="xs:float" use="required"/>
  </xs:complexType>
  <xs:complexType name="CertificateFiltersType">
    <xs:sequence>
      <xs:choice maxOccurs="unbounded" minOccurs="0">
        <xs:element name="TrustChain" type="tns:TrustChainFilterType"/>
        <xs:element name="OwnerCertificate" type="tns:OwnerFilterType"/>
        <xs:element name="Algorithm" type="tns:AlgorithmFilterType"/>
        <xs:element name="ForceHardware" type="tns:ForceHardwareFilterType"/>
        <xs:element name="HsmCertificate" type="tns:HsmCertificateFilterType"/>
        <xs:element name="LegalIdentifier" type="tns:LegalIdentifierFilterType"/>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TrustChainFilterType">
    <xs:sequence/>
    <xs:attribute name="value" type="tns:TrustChain" use="required"/>
  </xs:complexType>
  <xs:complexType name="OwnerFilterType">
    <xs:sequence/>
    <xs:attribute name="value" type="tns:OwnerType" use="required"/>
  </xs:complexType>
  <xs:complexType name="AlgorithmFilterType">
    <xs:sequence/>
    <xs:attribute name="value" type="tns:SignatureModeType" use="required"/>
  </xs:complexType>
  <xs:complexType name="ForceHardwareFilterType">
    <xs:sequence/>
    <xs:attribute name="value" type="xs:boolean" use="required"/>
  </xs:complexType>
  <xs:complexType name="HsmCertificateFilterType">
    <xs:sequence/>
    <xs:attribute name="value" type="xs:boolean" use="required"/>
  </xs:complexType>
  <xs:complexType name="LegalIdentifierFilterType">
    <xs:sequence/>
    <xs:attribute name="value" type="xs:string" use="required"/>
  </xs:complexType>
  <xs:complexType name="StatusRespType">
    <xs:sequence>
      <xs:element name="Status" type="tns:StatusTypeV2"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="DocumentSignatureStatus" type="tns:DocumentSignatureStatusInfoTypeV3"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DocumentSignatureStatusInfoTypeV3">
    <xs:sequence>
      <xs:element name="DocumentName" type="xs:string"/>
      <xs:element name="Status" type="tns:StatusType"/>
      <xs:element minOccurs="0" name="Signature" type="xs:base64Binary"/>
      <xs:element minOccurs="0" name="SignatureInfo" type="tns:SignatureInfoTypeV2"/>
    </xs:sequence>
    <xs:attribute name="TransactionId" type="xs:long" use="required"/>
  </xs:complexType>
  <xs:complexType name="SignatureInfoTypeV2">
    <xs:sequence>
      <xs:element name="Valid" type="xs:boolean"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="InvalidReason" type="tns:SignatureErrorType"/>
      <xs:element minOccurs="0" name="SigningTime" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="SignerCertificate" type="tns:CertificateInfoType"/>
      <xs:element minOccurs="0" name="PolicyId" type="xs:string"/>
      <xs:element minOccurs="0" name="PolicyUrl" type="xs:string"/>
      <xs:element minOccurs="0" name="LegalIdentifier" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CertificateInfoType">
    <xs:sequence>
      <xs:element name="serialNumber" type="xs:integer"/>
      <xs:element name="subjectDn" type="xs:string"/>
      <xs:element name="issuerDn" type="xs:string"/>
      <xs:element name="notBefore" type="xs:dateTime"/>
      <xs:element name="notAfter" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="IssuerCertificate" type="tns:CertificateInfoType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FindSignatureReqType">
    <xs:sequence/>
    <xs:attribute name="TransactionId" type="xs:long" use="required"/>
    <xs:attribute name="Attached" type="xs:boolean" use="required"/>
  </xs:complexType>
  <xs:complexType name="SignatureStatusRespType">
    <xs:sequence>
      <xs:element name="Status" type="tns:StatusType"/>
      <xs:element minOccurs="0" name="Signature" type="xs:base64Binary"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ValidateReqType">
    <xs:sequence>
      <xs:element name="Signature" type="xs:base64Binary" xmime:expectedContentTypes="application/pkcs7"/>
      <xs:element minOccurs="0" name="Content" type="xs:base64Binary"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ValidateRespTypeV2">
    <xs:sequence>
      <xs:element minOccurs="0" name="Error" type="tns:ValidationErrorType"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="Signatures" type="tns:SignatureInfoTypeV2"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ValidatePdfReqType">
    <xs:sequence>
      <xs:element name="Signature" type="xs:base64Binary" xmime:expectedContentTypes="application/pdf"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SimpleSignatureReqTypeV4">
    <xs:sequence>
      <xs:element name="User" type="tns:UserType"/>
      <xs:element name="DataToBeSigned" type="xs:string"/>
      <xs:element minOccurs="0" name="Fingerprint" type="xs:string"/>
      <xs:element minOccurs="0" name="CertificateFilters" type="tns:CertificateFiltersType"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="AdditionalServices" type="tns:AdditionalServiceType"/>
    </xs:sequence>
    <xs:attribute name="SignaturePolicy" type="tns:SignaturePolicyType"/>
    <xs:attribute name="SignatureStandard" type="tns:SignatureStandardType"/>
    <xs:attribute name="TimeOut" type="xs:positiveInteger"/>
    <xs:attribute name="MessagingMode" type="tns:MessagingModeType" use="required"/>
    <xs:attribute name="TestMode" type="xs:boolean" use="required"/>
    <xs:attribute name="ApId" type="xs:long" use="required"/>
  </xs:complexType>
  <xs:complexType name="SimpleSignatureRespTypeV4">
    <xs:sequence>
      <xs:element name="Status" type="tns:StatusType"/>
      <xs:element minOccurs="0" name="VerificationCode" type="xs:int"/>
    </xs:sequence>
    <xs:attribute name="TransactionId" type="xs:long" use="required"/>
  </xs:complexType>
  <xs:complexType name="BatchSignatureReqTypeV2">
    <xs:sequence>
      <xs:element name="User" type="tns:UserType"/>
      <xs:element name="DataToBeDisplayed" type="xs:string"/>
      <xs:element minOccurs="0" name="Fingerprint" type="xs:string"/>
      <xs:element maxOccurs="unbounded" name="DocumentsToBeSigned" type="tns:BatchInfoType"/>
      <xs:element minOccurs="0" name="CertificateFilters" type="tns:CertificateFiltersType"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="AdditionalServices" type="tns:AdditionalServiceType"/>
    </xs:sequence>
    <xs:attribute name="TimeOut" type="xs:positiveInteger"/>
    <xs:attribute name="MessagingMode" type="tns:MessagingModeType" use="required"/>
    <xs:attribute name="TestMode" type="xs:boolean" use="required"/>
    <xs:attribute name="SignatureStandard" type="tns:SignatureStandardType"/>
    <xs:attribute name="SignaturePolicy" type="tns:SignaturePolicyType"/>
    <xs:attribute name="ApId" type="xs:long" use="required"/>
  </xs:complexType>
  <xs:complexType name="BatchSignatureRespTypeV2">
    <xs:sequence>
      <xs:element name="Status" type="tns:StatusType"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="Signatures" type="tns:DocumentSignatureInfoType"/>
      <xs:element minOccurs="0" name="VerificationCode" type="xs:int"/>
    </xs:sequence>
    <xs:attribute name="TransactionId" type="xs:long" use="required"/>
  </xs:complexType>
  <xs:complexType name="DocumentSignatureInfoType">
    <xs:sequence>
      <xs:element name="Status" type="tns:StatusType"/>
      <xs:element name="DocumentName" type="xs:string"/>
      <xs:element minOccurs="0" name="Signature" type="xs:base64Binary" xmime:expectedContentTypes="application/pkcs7"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BandwidthInfoType">
    <xs:sequence>
      <xs:element name="TotalBandwidth" type="xs:long"/>
      <xs:element name="UsedBandwidth" type="xs:long"/>
      <xs:element name="DateToRenew" type="xs:dateTime"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SignatureStatusReqType">
    <xs:sequence/>
    <xs:attribute name="TransactionId" type="xs:long" use="required"/>
  </xs:complexType>
  <xs:simpleType name="TokenCmdStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="OK"/>
      <xs:enumeration value="ERROR"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="mobileStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="UNREAD"/>
      <xs:enumeration value="READ"/>
      <xs:enumeration value="DONE"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="DigestMethod">
    <xs:restriction base="xs:string">
      <xs:enumeration value="SHA1"/>
      <xs:enumeration value="SHA256"/>
      <xs:enumeration value="SHA512"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="TrustChain">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ICPBR"/>
      <xs:enumeration value="JUS"/>
      <xs:enumeration value="RFB"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="OwnerType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="PERSON"/>
      <xs:enumeration value="COMPANY"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="SignatureModeType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="RSA"/>
      <xs:enumeration value="ECC"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AdditionalServiceType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="dummy"/>
      <xs:enumeration value="offlineSignature"/>
      <xs:enumeration value="aetDriver"/>
      <xs:enumeration value="kaspersky"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="SignatureStandardType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="cades"/>
      <xs:enumeration value="adobepdf"/>
      <xs:enumeration value="xades"/>
      <xs:enumeration value="xmldsig_enveloped"/>
      <xs:enumeration value="xmldsig_enveloping"/>
      <xs:enumeration value="pades"/>
      <xs:enumeration value="raw"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="SignaturePolicyType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="AD_RB"/>
      <xs:enumeration value="AD_RT"/>
      <xs:enumeration value="AD_RC"/>
      <xs:enumeration value="AD_RV"/>
      <xs:enumeration value="AD_RA"/>
      <xs:enumeration value="ADOBE_PDF"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="SignatureErrorType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="INVALID_CERTIFICATE_ERROR"/>
      <xs:enumeration value="SIGNING_POLICY_ERROR"/>
      <xs:enumeration value="CERTIFICATE_REVOKED_ERROR"/>
      <xs:enumeration value="INVALID_TIMESTAMP_ERROR"/>
      <xs:enumeration value="WRONG_NUMBER_OF_ATTRIBUTES_ERROR"/>
      <xs:enumeration value="UNKNOWN_ERROR"/>
      <xs:enumeration value="NOT_BEFORE_ERROR"/>
      <xs:enumeration value="NOT_AFTER_ERROR"/>
      <xs:enumeration value="NOT_TRUSTED_CERTIFICATE_ERROR"/>
      <xs:enumeration value="DIGEST_VERIFICATION_ERROR"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ValidationErrorType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="TRANSPORT_ERROR"/>
      <xs:enumeration value="ENCODING_ERROR"/>
      <xs:enumeration value="INCOMPLETE_CERTIFICATE_CHAIN_ERROR"/>
      <xs:enumeration value="INVALID_CERTIFICATE_CHAIN_ERROR"/>
      <xs:enumeration value="UNSUPORTED_ALGORITHM_ERROR"/>
      <xs:enumeration value="SIGNING_POLICY_VERIFICATION_ERROR"/>
      <xs:enumeration value="CRYPTOGRAPHIC_ERROR"/>
      <xs:enumeration value="UNEXPECTED_ERROR"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="MessagingModeType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="synch"/>
      <xs:enumeration value="asynchClientServer"/>
      <xs:enumeration value="asynchServerServer"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="FaultDetail" nillable="true" type="tns:StatusType"/>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="ExecuteTokenCmd">
    <wsdl:part name="TokenCmdReq" type="tns:ExecuteTokenCmdReqType">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="FindUserInfo">
    <wsdl:part name="FindUserInfoReq" type="tns:FindUserInfoReqType">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ValidatePdfResponse">
    <wsdl:part name="ValidateResp" type="tns:ValidateRespTypeV2">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="SignatureStatusQueryResponse">
    <wsdl:part name="SignatureStatusReq" type="tns:StatusRespType">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="HsmSyncSignature">
    <wsdl:part name="HsmSyncSignatureReq" type="tns:HsmSyncSignatureReqType">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="BatchSignatureResponse">
    <wsdl:part name="BatchSignatureRespType" type="tns:BatchSignatureRespTypeV2">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="FindSignature">
    <wsdl:part name="FindSignatureReq" type="tns:FindSignatureReqType">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="SimpleSignature">
    <wsdl:part name="SimpleSignatureReqType" type="tns:SimpleSignatureReqTypeV4">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="FindBandwidthInfoResponse">
    <wsdl:part name="BandwidthInfoType" type="tns:BandwidthInfoType">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="FindUserInfoResponse">
    <wsdl:part name="FindUserInfoResp" type="tns:FindUserInfoRespType">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ValidateResponse">
    <wsdl:part name="ValidateResp" type="tns:ValidateRespTypeV2">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="FindBandwidthInfo">
  </wsdl:message>
  <wsdl:message name="HsmSyncSignatureResponse">
    <wsdl:part name="HsmSyncSignatureResp" type="tns:StatusRespType">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="Validate">
    <wsdl:part name="ValidateReq" type="tns:ValidateReqType">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ValidatePdf">
    <wsdl:part name="ValidatePdfReq" type="tns:ValidatePdfReqType">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ExecuteTokenCmdResponse">
    <wsdl:part name="TokenCmdResp" type="tns:ExecuteTokenCmdRespType">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="BatchSignature">
    <wsdl:part name="BatchSignatureReqType" type="tns:BatchSignatureReqTypeV2">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="FindSignatureResponse">
    <wsdl:part name="SignatureStatusReq" type="tns:SignatureStatusRespType">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="SimpleSignatureResponse">
    <wsdl:part name="SimpleSignatureRespType" type="tns:SimpleSignatureRespTypeV4">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ICPMException">
    <wsdl:part element="tns:FaultDetail" name="ICPMException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="SignatureStatusQuery">
    <wsdl:part name="SignatureStatusReq" type="tns:SignatureStatusReqType">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="SignaturePortTypeV2">
    <wsdl:operation name="ExecuteTokenCmd">
      <wsdl:input message="tns:ExecuteTokenCmd" name="ExecuteTokenCmd">
    </wsdl:input>
      <wsdl:output message="tns:ExecuteTokenCmdResponse" name="ExecuteTokenCmdResponse">
    </wsdl:output>
      <wsdl:fault message="tns:ICPMException" name="ICPMException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="FindUserInfo">
      <wsdl:input message="tns:FindUserInfo" name="FindUserInfo">
    </wsdl:input>
      <wsdl:output message="tns:FindUserInfoResponse" name="FindUserInfoResponse">
    </wsdl:output>
      <wsdl:fault message="tns:ICPMException" name="ICPMException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="HsmSyncSignature">
      <wsdl:input message="tns:HsmSyncSignature" name="HsmSyncSignature">
    </wsdl:input>
      <wsdl:output message="tns:HsmSyncSignatureResponse" name="HsmSyncSignatureResponse">
    </wsdl:output>
      <wsdl:fault message="tns:ICPMException" name="ICPMException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="FindSignature">
      <wsdl:input message="tns:FindSignature" name="FindSignature">
    </wsdl:input>
      <wsdl:output message="tns:FindSignatureResponse" name="FindSignatureResponse">
    </wsdl:output>
      <wsdl:fault message="tns:ICPMException" name="ICPMException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Validate">
      <wsdl:input message="tns:Validate" name="Validate">
    </wsdl:input>
      <wsdl:output message="tns:ValidateResponse" name="ValidateResponse">
    </wsdl:output>
      <wsdl:fault message="tns:ICPMException" name="ICPMException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ValidatePdf">
      <wsdl:input message="tns:ValidatePdf" name="ValidatePdf">
    </wsdl:input>
      <wsdl:output message="tns:ValidatePdfResponse" name="ValidatePdfResponse">
    </wsdl:output>
      <wsdl:fault message="tns:ICPMException" name="ICPMException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SimpleSignature">
      <wsdl:input message="tns:SimpleSignature" name="SimpleSignature">
    </wsdl:input>
      <wsdl:output message="tns:SimpleSignatureResponse" name="SimpleSignatureResponse">
    </wsdl:output>
      <wsdl:fault message="tns:ICPMException" name="ICPMException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="BatchSignature">
      <wsdl:input message="tns:BatchSignature" name="BatchSignature">
    </wsdl:input>
      <wsdl:output message="tns:BatchSignatureResponse" name="BatchSignatureResponse">
    </wsdl:output>
      <wsdl:fault message="tns:ICPMException" name="ICPMException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="FindBandwidthInfo">
      <wsdl:input message="tns:FindBandwidthInfo" name="FindBandwidthInfo">
    </wsdl:input>
      <wsdl:output message="tns:FindBandwidthInfoResponse" name="FindBandwidthInfoResponse">
    </wsdl:output>
      <wsdl:fault message="tns:ICPMException" name="ICPMException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SignatureStatusQuery">
      <wsdl:input message="tns:SignatureStatusQuery" name="SignatureStatusQuery">
    </wsdl:input>
      <wsdl:output message="tns:SignatureStatusQueryResponse" name="SignatureStatusQueryResponse">
    </wsdl:output>
      <wsdl:fault message="tns:ICPMException" name="ICPMException">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SignatureServiceSoapBinding" type="tns:SignaturePortTypeV2">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="ExecuteTokenCmd">
      <soap:operation soapAction="" style="rpc"/>
      <wsdl:input name="ExecuteTokenCmd">
        <soap:body namespace="http://esec.com.br/mss/ap" use="literal"/>
      </wsdl:input>
      <wsdl:output name="ExecuteTokenCmdResponse">
        <soap:body namespace="http://esec.com.br/mss/ap" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ICPMException">
        <soap:fault name="ICPMException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="FindUserInfo">
      <soap:operation soapAction="" style="rpc"/>
      <wsdl:input name="FindUserInfo">
        <soap:body namespace="http://esec.com.br/mss/ap" use="literal"/>
      </wsdl:input>
      <wsdl:output name="FindUserInfoResponse">
        <soap:body namespace="http://esec.com.br/mss/ap" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ICPMException">
        <soap:fault name="ICPMException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="HsmSyncSignature">
      <soap:operation soapAction="" style="rpc"/>
      <wsdl:input name="HsmSyncSignature">
        <soap:body namespace="http://esec.com.br/mss/ap" use="literal"/>
      </wsdl:input>
      <wsdl:output name="HsmSyncSignatureResponse">
        <soap:body namespace="http://esec.com.br/mss/ap" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ICPMException">
        <soap:fault name="ICPMException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="FindSignature">
      <soap:operation soapAction="" style="rpc"/>
      <wsdl:input name="FindSignature">
        <soap:body namespace="http://esec.com.br/mss/ap" use="literal"/>
      </wsdl:input>
      <wsdl:output name="FindSignatureResponse">
        <soap:body namespace="http://esec.com.br/mss/ap" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ICPMException">
        <soap:fault name="ICPMException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Validate">
      <soap:operation soapAction="" style="rpc"/>
      <wsdl:input name="Validate">
        <soap:body namespace="http://esec.com.br/mss/ap" use="literal"/>
      </wsdl:input>
      <wsdl:output name="ValidateResponse">
        <soap:body namespace="http://esec.com.br/mss/ap" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ICPMException">
        <soap:fault name="ICPMException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ValidatePdf">
      <soap:operation soapAction="" style="rpc"/>
      <wsdl:input name="ValidatePdf">
        <soap:body namespace="http://esec.com.br/mss/ap" use="literal"/>
      </wsdl:input>
      <wsdl:output name="ValidatePdfResponse">
        <soap:body namespace="http://esec.com.br/mss/ap" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ICPMException">
        <soap:fault name="ICPMException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SimpleSignature">
      <soap:operation soapAction="" style="rpc"/>
      <wsdl:input name="SimpleSignature">
        <soap:body namespace="http://esec.com.br/mss/ap" use="literal"/>
      </wsdl:input>
      <wsdl:output name="SimpleSignatureResponse">
        <soap:body namespace="http://esec.com.br/mss/ap" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ICPMException">
        <soap:fault name="ICPMException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="BatchSignature">
      <soap:operation soapAction="" style="rpc"/>
      <wsdl:input name="BatchSignature">
        <soap:body namespace="http://esec.com.br/mss/ap" use="literal"/>
      </wsdl:input>
      <wsdl:output name="BatchSignatureResponse">
        <soap:body namespace="http://esec.com.br/mss/ap" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ICPMException">
        <soap:fault name="ICPMException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="FindBandwidthInfo">
      <soap:operation soapAction="" style="rpc"/>
      <wsdl:input name="FindBandwidthInfo">
        <soap:body namespace="http://esec.com.br/mss/ap" use="literal"/>
      </wsdl:input>
      <wsdl:output name="FindBandwidthInfoResponse">
        <soap:body namespace="http://esec.com.br/mss/ap" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ICPMException">
        <soap:fault name="ICPMException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SignatureStatusQuery">
      <soap:operation soapAction="" style="rpc"/>
      <wsdl:input name="SignatureStatusQuery">
        <soap:body namespace="http://esec.com.br/mss/ap" use="literal"/>
      </wsdl:input>
      <wsdl:output name="SignatureStatusQueryResponse">
        <soap:body namespace="http://esec.com.br/mss/ap" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ICPMException">
        <soap:fault name="ICPMException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SignatureService">
    <wsdl:port binding="tns:SignatureServiceSoapBinding" name="SignaturePortTypeV2">
      <soap:address location="http://wssigner.sibrare.com:8090/mss/SignatureService/SignatureEndpointBeanV2"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>